{% extends 'base.html' %}

{% block title %}
Profilo
{% endblock title %}

{% block content %}

{% if user.image %}
<img src="{{ user.image.url }}" alt="img">
{% endif %}
<h2>Profilo di {{user}} </h2>
<p>Desideri aggiungere una recensione al film che più ti piace?</p>
<a href = "{% url 'review' %}">Aggiungi una recensione</a>

<p>Desideri aggiornare il tuo profilo?
<a href = "{% url 'update-profile' %}">Clicca qui</a>
</p>

{% if user.image %}
<p>Desideri aggiornare la tua foto?
    <a href = "{% url 'photo' %}">Clicca qui</a>
</p>

{% else %}
<p>
   Desideri aggiungere una foto al tuo profilo?
   <a href = "{% url 'photo' %}">Clicca qui</a>
</p>

{% endif %}
{% endblock content %}