{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Login
{% endblock title %}

{% block content %}
<form method = "POST" action = "">
  {% csrf_token %}
    {{ form|crispy }}
  <div class = "form-group">
    <button class = "btn btn-outline-info" type = "submit">Registrati</button>
  </div>
  <div class = "border-top pt-3">
    <small class = "text-muted">
      Hai già un account? <a class="ml-2" href = "{% url 'login' %}">Log In</a>
    </small>
  </div>
</form>
{% endblock content %}
